<ion-view title="Sample">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <h1>Heading</h1>
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div class="button-bar">
            <button id="sample-button1" class="button button-stable  button-block">1</button>
            <button id="sample-button2" class="button button-stable  button-block">2</button>
            <button id="sample-button3" class="button button-stable  button-block">3</button>
        </div>
        <button id="sample-button4" class="button button-stable  button-block">Tap me!</button>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
        <ion-list>
            <ion-item class="item-divider">Item</ion-item>
            <ion-item>Item</ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-list>
                <ion-item>Item 1</ion-item>
                <ion-item>Item 2</ion-item>
                <ion-item>Item 3</ion-item>
            </ion-list>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 35px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-item class="range range-positive">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-radio>Radio</ion-radio>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>